form(method="post" action="/campgrounds/" + id1 + "/comment/edit/"+ id + "?_method=PUT")
   input(type="text" value=`${foundCamp.author.username}` )
   input(type="text" name="title")
   button(type="submit")  SUBMIT