h1 this is a register page 
       form(action="/register" method="post")
          lable Name 
             input(type="text" name="username")
          label password
             input(type="password" name="password")
          button SUBMIT

          a(href="/login")  LOGIN INSTEAD