h LOGIN HERE
   form(action="/login" method="post")
          lable Name 
             input(type="text" name="username")
          label password
             input(type="password" name="password")
          button SUBMIT

          a(href="/register")  REGISTER INSTEAD