<!DOCTYPE html>
html
   head
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   
   body
           h1 This is a Form for the page 
               form(action="/campgrounds/new" method="POST")
                   input(name="id" type="text" placeholder="id")  
                   input(name="name" type="text" placeholder="name" ) 
                   input(name="desc" type="text" placeholder="desc" )

                   input(name="url" type="text" placeholder="url") 
                   button submit

          a(href="/campgrounds") back

